<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeCameraStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EyeCameraStreamer.Properties.Settings>
            <setting name="SizeW" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="SizeH" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PortLeft" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="PortRight" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="TargetFps" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Normalize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clahe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EyeTrackVRPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EyeTrackVR" serializeAs="String">
                <value>False</value>
            </setting>
        </EyeCameraStreamer.Properties.Settings>
    </userSettings>
</configuration>